body {
    background-image: url(https://www.estoresbyzome.com/estores/2121.full.jpg);
    margin: auto;
    width: 70%;
    background-position: center;
    opacity:.8;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    padding:20px;
    margin: auto;
    text-align: center;
}
a {
    text-decoration: none;
    color: #000000;
    margin: #FFFFFF;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 6em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #000000;
    margin: #FFFFFF;
    text-align: center;
}
p {
    font-size: .8em;
    line-height: 1.4em;
    color: #000000;
    margin: #FFFFFF;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 2em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
