html{
    background-image: url(https://www.estoresbyzome.com/estores/2121.full.jpg);
    background-position: center;
}
body {
    text-align: center;
    position: center;
    margin: auto;
    width: 70%;
    background-color: #dc143c;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav ul, footer ul {
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-right: 20px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 5px;
    padding: 20px;
}
table {
    position: center;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border: dashed 5px;
    color: #0000ff;
}
td {
    font-style:'Arial';
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-color: 0000ff;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 2px solid #d5d5d5;
    font-size: 1.5em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
