html{
    background-image: url(https://www.estoresbyzome.com/estores/2121.full.jpg);
    background-position: center;
}
body {
    background-color: #dc143c;
    width: 70%;
    opacity: .9;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
nav ul, footer ul {
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-right: 20px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 5px;
    padding: 20px;
}
.container {
 padding: auto;
 margin-left: auto;
 margin-right: auto;
}
#left {
 width: 49%;
 float: left;
 background-color: #dc1430;
 border-style: solid;
 border-width: 5px;
 border-color: #000000;
 padding: auto;
 margin-left: auto;
 margin-right: auto;
}
#right {
 width: 49%;
 float: right;
 background-color: #dc1430;
 border-style: solid;
 border-width: 5px;
 border-color: #000000;
 padding: auto;
 margin-left: auto;
 margin-right: auto;
}
#bottom {
 clear: both;
}
a {
    opacity: 1.0;
    text-decoration: none;
    color: #000000;
    margin: #FFFFFF;
}
a:hover {
    text-decoration: underline;
    font-size: 20px;
    font-style: 'Helvetica';
    opacity: .5;
}
h1 {
    padding: auto;
    width: 90%;
    opacity:1.0;
    background-color: #0000ff;
    font-size: 4.0em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
p {
    font-size: 1.6em;
    line-height: 1.2em;
    color: #000000;
    margin-left: 25px;
    margin-right: 15px;
    font-family: 'Arial';
}
p ol ul {
    color: #000000;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    margin-left: auto;
    margin-right: auto;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
